body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
}

header {
  background: #4a72ff;
  padding: 40px;
  text-align: center;
  color: white;
}

section {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}
